{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Raleway|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/home.css">
    <script type="text/javascript" src="../static/js/modernizr-custom.js">
    </script>

    {% endblock %}
  </head>
  <body {% block bodyid %}homeBody{% endblock %}>
    {% block pagecontent %}
    <div id="indexOverlay">
      <div class="row">
        {% comment %} <img src="../static/images/logo-png.png" alt="logo" class="col-12" id="logo"> {% endcomment %}
        <video src="../static/video/videoOpener.mp4" class="col-12" id="logo" autoplay muted style="position:fixed;top:2em;left:0;bottom:2em;right:0;width:100vw;height:100vh;object-fit:cover"></video>
        <video src="../static/video/videoOpenerMobile.mp4" class="col-12" id="logoMobile" autoplay muted></video>
      </div>
    </div>
    <div class="row">
      <video src="{% static 'video/pictures.mp4' %}" autoplay muted loop id="vincePicReel" style="position:fixed;top:2em;left:0;bottom:2em;right:0;width:100vw;height:100vh;object-fit:cover;"></video>
      <a href="{% url 'index' %}" class="col-6" id="portfolioButton" style="margin-bottom:0">VIEW MY PORTFOLIO</a>  
    </div>
    {% endblock %}
  </body>
</html>
