{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% block head %}
      <link rel="stylesheet" href="{% static 'css/videos.css'%}">
    {% endblock %}
  </head>
  <body>
    {% block pagecontent %}
    <div class="videosDiv">
      <div class="row">
        <h1 class="col-12" id="videoPageTitle">Videos</h1>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/274563284" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/274563284" class="videoAnchor">timelapse</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/274563470" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/274563470" class="videoAnchor">FIU Business Event Recap</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/274562646" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/274562646" class="videoAnchor">Muscle Trigger</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/236823675" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/236823675" class="videoAnchor">BTS Blacktape Project</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/274562126" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/274562126" class="videoAnchor">Friks x Royal Caribbean</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/274561794" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/274561794" class="videoAnchor">Sketchy Nights IG Recap</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/259716080" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/259716080" class="videoAnchor">Relay for Life 2018</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/254336794" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/254336794" class="videoAnchor">@BlackBrain Puerto Rico Edgwater Mural</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/254336668" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/254336668" class="videoAnchor">Slay &amp; Squat Heels Class Promo</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/254336403" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/254336403" class="videoAnchor">FIU Rec Promo</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/254335951" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/254335951" class="videoAnchor">Jim Bean Puerto Rico Fundraiser Event</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242112781" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242112781" class="videoAnchor">FIU AXID Surfers For Autism 2016</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242112633" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242112633" class="videoAnchor">FIU AXID Sorority 101 2016</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242112478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242112478" class="videoAnchor">Bottoms Up! Students Learn the Art of Wine Tasting</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242112478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242112478" class="videoAnchor">Bottoms Up! Students Learn the Art of Wine Tasting</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242112470" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242112470" class="videoAnchor">FIU AXID Sisterhood 2016</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242110818" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242110818" class="videoAnchor">Bottoms Up! Students Learn the Art of Wine Tasting</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242110740" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242110740" class="videoAnchor">Match Day 2016</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242110710" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242110710" class="videoAnchor">Acura Film   AMA</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/242110568" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/242110568" class="videoAnchor">Relay for Life 2016</a> from <a href="https://vimeo.com/user22990784" class="videoAnchor">vince rives</a> on <a href="https://vimeo.com" class="videoAnchor">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/238688322" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/238688322">Conference IG Promo</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/238685661" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/238685661">NACME Fellowship</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/238685370" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/238685370">Grateful Road Video</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/238684422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/238684422">_Funmi&#039;s_story_Final_draft</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/236824443" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/236824443">Colonias De Galeon</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
        <div class="col-5 videoFrame">
          <iframe src="https://player.vimeo.com/video/236823968" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p class="videoCaption"><a href="https://vimeo.com/236823968">Cupping</a> from <a href="https://vimeo.com/user22990784">vince rives</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
