html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing:border-box;
}

/* Grid System */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Nav Columns(Grid divided by 5) */
.base--1 {
	width:20%;
	text-align: center;
}
.base--2 {width:40%;}
.base--3 {width:60%;}
.base--4 {width:80%;}
.base--5 {width:100%;}
/*  */

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
[class*="base--"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


#navToplevelDiv{
  position: fixed;
  top:0;
  right:0;
  left:0;
  /* background-color: white; */
  /* background-image: url('../images/gradientwhitebackground.jpg'); */
	background-color: #000000;
  overflow: visible;
	z-index: 999;
}

#footer{
  position: static;
  bottom:0;
  right:0;
  left:0;
  background-color: #000000;
  /* background-image: url('../images/gradientwhitebackground.jpg'); */
  color: #aea3c6;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}
#footerText{
	font-size: 0.8em;
}

.navAnchor{
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  /* font-weight: bold; */
  /* color: #6F5F93; */
  /* color: #aea3c6; */
	color: white;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  /* color: #5F4C89; */
  /* color: #A3AAC5; */
  /* color: #727CA4; */
  /* color: #5578E1; */
  /* color: #7D98E9; */
  /* color: #5578E1; */
  /* color: #FFB921; */
  /* font-family: 'Raleway', sans-serif; */
}

.active{
  /* color:#5F4C89; */
	color: #7e69b5;
  text-shadow: 0 0 3px #6F5F93;
  border-bottom: 3px solid #5F4C89;
  border-radius: 2px;
  /*border-top: none;
  border-bottom: none; */
  /* box-shadow: 0px 1px 1px 0px #727CA4; */
  /* box-shadow: 0 0 15px #5578E1; */
}

.active {
  border-bottom: 3px solid #5F4C89;
}

.dropdownLI{
  float:left;
  clear: both;
  display: block;
  text-align: left;
  font-family: 'Comfortaa', cursive;
  color: white;
  text-shadow: 0px -1px 0px rgba(0,0,0,.5);
  /* padding-left: 1em; */
  padding: 1em;
  /* background-image: url('../images/gradientwhitebackground.jpg'); */
	background-color: black;
  width: 100%;
}

.navDropdown{
  float: left;
  overflow: hidden;
}


#concertsDropdownLi{
  /*margin-top: 1em;*/
  padding-top: 2em;
}

.dropdownContent{
  margin-left: -1em;
  display: none;
  position: absolute;
  z-index: 1;
}


.navDropdown:hover .dropdownContent {
    display: block;
}

.dropdownAnchor{
  float: left;
  display: block;
  text-align: left;
  /* z-index: 1; */
}

/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
}

/* Style the links inside the navigation bar */
/* .topnav a {
    float: left;
    display: block;
    background-image: url('../images/gradientwhitebackground.jpg');
    color: #aea3c6;
    text-align: center;
    /* padding: 14px 16px; */
    /* text-decoration: none;
    font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav a:hover {
    background-color: green;
    color: black;
} */

/* Add an active class to highlight the current page */
/* .active {
    background-color: #4CAF50;
    color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .navDropdown a {display: none;}
  .topnav a.icon {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
    float: right;
    display: block;
    /* color: #aea3c6; */
		color: white;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a#hamburgerIcon {
    position: absolute;
    right: 0.5em;
    top: 0.75em;
  }
  .topnav.responsive .navAnchor, .topnav.responsive li {
    float: none;
    display: block;
    z-index: 1;
    margin-left: 0;
    text-align: left;
  }
  /* .navDropdown{
    margin-bottom: 1em;
  } */
	/* a.navAnchor .basecol--1{
		/* width: 20px; */
		/* display: block; */
		/* background-color: white; */
	/* } */
	/* li.basecol--1{
		width: 20%;
	} */

  /* .navAnchor{
    margin-top: 1em;
  } */
}
